@charset "utf-8";

body {
    color: #202124;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    text-align: center;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}



.inner {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header {
    color: #202124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 50px;
}

span {
    color: #A6ADB4;
}

samp {
    color: #202124;
    font-weight: bold;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
}

.header-top ul {
    font-size: 12px;
    list-style: none;
}

.header-top li {
    margin-left: 30px;
}

.header-top a {
    color: #202124;
    text-decoration: none;
}


footer {
    background: #0864B1;
    color: #fff;
}

.posts {
    display: flex;
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts article {
    width: 373px;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    margin: 0 5px;
}

nav {
    display: block;
}

.news {
    margin-bottom: 15px;
}

.news h2 {
    margin-bottom: 35px;
    padding-bottom: 30px;
    border-bottom: 2px solid #EBEDED;
}

h2 {
    color: #202124;
    font-size: 24px;
    text-align: left;
}

.main h2 {
    margin: 50px 0 0;
    padding-bottom: 30px;
}

.news h2 {
    border-bottom: 2px #EBEDED solid;
}

.news .post {
    margin-bottom: 45px;
}

.post {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post article {
    width: 380px;
}

.post h3 {
    margin-bottom: 12px;
    color: #202124;
    font-size: 18px;
    margin-top: 44px;
}

.posts p {
    color: #A6ADB4;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

article {
    display: block;
}

.time {
    background: url(./images/icon_time.png)no-repeat left center;
    margin-top: 20px;
    padding-left: 26px;
}

.post article {
    background: #f6f8e9;
    padding-bottom: 60px;
}

.trending h3 {
    margin: 40px 35px 12px;
}

.trending p {
    padding-bottom: 35px;
    margin-left: 35px;
}

.copy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.copy a {
    margin-left: 20px;
}

small {
    color: #fff;
}